{% extends('base.html.twig') %}

{% block body %}
    <div class="alert alert-primary mt-3" role="alert">
        Welcome to Symfony CRUD pet project!
    </div>
    
    <p>
        Repository link: <a href="https://github.com/sukhoy94/sfcourse" target="_blank">https://github.com/sukhoy94/sfcourse</a>
    </p>
    
    <p>
        To make CRUD operations you should be logged in.
    </p>
{% endblock %}