{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <ul>
        {% for post in posts %}
            <li>{{ post.title|e }}</li>
        {% endfor %}
    </ul>
{% endblock %}
