{% extends 'base.html.twig' %}

{% block title %}Hello post details{% endblock %}

{% block body %}
    <div>
        {{ post.id }}
        {{ post.title }}
    </div>
    
    <div>
        <img src="/uploads/{{ post.image }}" alt="{{ post.title }}" width="200">
    </div>
{% endblock %}
